* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: rgb(192, 200, 221)
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

body {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 40px;
    line-height: 25px;

}

h2 {
    text-transform: capitalize;
}

.name {
    background-color: rgb(140, 106, 170);
    padding: 20px;
    color: rgb(252, 235, 247);

}

.navigation {
    list-style-type: none;
    padding: 20px;
    line-height: 40px;
    float: left;
    width: 50%;
}

.nav-link {
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-left: 20px solid;
    border-right: 30px solid;
    border-color: rgb(140, 106, 170);
    background-color: rgb(140, 106, 170);
    color: rgb(252, 235, 247);
}

.pic {
    padding: 30px;
    border-radius: 110px;
    width: 240px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 50%;
    border-top: 3px solid rgb(140, 106, 170);

}

footer {
    background-color: rgb(140, 106, 170);
    text-align: center;
    word-spacing: 20px;
    margin: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}